[submodule Licenta 1/Object-Oriented-Programming"]
	path = Licenta 1/Object-Oriented-Programming
	url = https://github.com/Loila11/Object-Oriented-Programming
[submodule "Licenta 1/Procedural-Programming"]
	path = Licenta 1/Procedural-Programming
	url = https://github.com/Loila11/Procedural-Programming
