[submodule "Licenta 1/Object-Oriented-Programming"]
	path = Licenta 1/Object-Oriented-Programming
	url = https://github.com/Loila11/Object-Oriented-Programming
[submodule "Licenta 1/Procedural-Programming"]
	path = Licenta 1/Procedural-Programming
	url = https://github.com/Loila11/Procedural-Programming
[submodule "Licenta 2/Penguin-Beautinator"]
	path = Licenta 2/Penguin-Beautinator
	url = https://github.com/Loila11/Penguin-Beautinator
[submodule "Licenta 2/Advanced-Object-Oriented-Programming"]
	path = Licenta 2/Advanced-Object-Oriented-Programming
	url = https://github.com/Loila11/Advanced-Object-Oriented-Programming
[submodule "Licenta 2/Web/Beauty-Salon"]
	path = Licenta 2/Web/Beauty-Salon
	url = https://github.com/Loila11/Beauty-Salon
[submodule "Master 1/Semestrul 1/Anafora"]
	path = Master 1/Semestrul 1/Anafora
	url = https://github.com/Loila11/Anafora
[submodule "Master 1/Semestrul 1/PML/Word-Complexity-Estimation"]
	path = Master 1/Semestrul 1/PML/Word-Complexity-Estimation
	url = https://github.com/Loila11/Word-Complexity-Estimation
[submodule "Master 1/Semestrul 1/PML/Book-Rating-Estimation"]
	path = Master 1/Semestrul 1/PML/Book-Rating-Estimation
	url = https://github.com/Loila11/Book-Rating-Estimation
[submodule "Licenta 2/SO/Dropbox-Shell"]
	path = Licenta 2/SO/Dropbox-Shell
	url = https://github.com/Loila11/Dropbox-Shell
[submodule "Master 1/Semestrul 2/CV/Darts"]
	path = Master 1/Semestrul 2/CV/Darts
	url = https://github.com/Loila11/Darts
[submodule "Master 1/Semestrul 2/CV/Scrabble"]
	path = Master 1/Semestrul 2/CV/Scrabble
	url = https://github.com/Loila11/Scrabble
[submodule "Master 2/STCL/EDOS"]
	path = Master 2/STCL/EDOS
	url = https://github.com/Loila11/SemEval2023
[submodule "Master 2/Text Mining/IR"]
	path = Master 2/Text Mining/IR
	url = https://github.com/Loila11/Information-Retrieval
[submodule "Master 2/Text Mining/Music Genre Classifier"]
	path = Master 2/Text Mining/Music Genre Classifier
	url = https://github.com/Loila11/Music-Genre-Classifier
[submodule "Master 2/Machine Translation/Gender Bias"]
	path = Master 2/Machine Translation/Gender Bias
	url = https://github.com/Loila11/Gender-Bias
