*.idea/
*packages/

# Python
*venv/
*__pycache__/
*stanford_parser/

# Jupyter Notebook
*.ipynb_checkpoints/
*GoogleNews-vectors-negative300.bin

# C
*cmake-build-debug/

# Web
*fontawesome/
*node_modules/

# Lean
/build
/lean_packages