
@{
    ViewBag.Title = "Index";
}

<h2>Volume</h2>

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Id</th>
        <th>Denumire</th>
    </tr>

    @foreach (var volum in ViewBag.Volume)
    {
        <tr>
            <th>@volum.id</th>
            <th>@volum.denumire</th>
        </tr>
    }

</table>
